{% extends "base.html" %} {% block content %}
<h1>{{room.name}} - {{room.description}}</h1>
<div class="comment-wrapper">
  <h3>Conversastions</h3>
  {% for message in messages %}
  <small>{{request.user}}</small>
  <small>{{message.created_at | timesince }} ago</small>
  <p>{{message.body}}</p>
  {% endfor %}
</div>
{% if request.user.is_authenticated %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Enter the message">
        <button type="submit" value="Message">Message</button>
    </form>
</div>
  
{% endif %}
{% endblock content %}
