{% extends "base.html" %} {% block content %}
<h1>{{room.name}} - {{room.description}}</h1>
<div>
  <div>
    <div class="comment-wrapper">
      <h3>Conversastions</h3>
      {% for message in room_messages %}
      <small>{{request.user}}</small>
      <small>{{message.created_at | timesince }} ago</small>
      <div>
        <p>{{message.body}}</p>
        <span>
          {% if message.user == request.user%}
          <a href="{% url 'delete_message' message.id%}">Delete</a>
          {% endif %}
        </span>
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Enter the message" />
        <button type="submit" value="Message">Message</button>
      </form>
    </div>
    {% endif %}
  </div>
  <div>
    {% for participant in participants %}

    <div>{{participant}}</div>

    {% endfor %}
  </div>
</div>
{% endblock content %}
